/* 
    Color Palette: 
    PrimaryColor: Charcoal (#333333)
	Secondary Color: Soft White (#F7F7F7)
	Accent Color: Teal (#008080)
	Background Color: Light Gray (#EAEAEA)
	Text Color: Black (#000000)
*/

html {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    background-color: #EAEAEA;
    color: #000000;
}

header {
    text-align: center;
}

h1 {
    width: 100%;
    font-size: 2em;
}

@media (hover: none) and (pointer: coarsse) {
    #profile-photo {
        max-width: 100%;
        max-height: auto;
    }
}

.soc-med-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

@media (min-width: 450) {
    .soc-med-container {
        justify-content: center;
    }

    .soc-med-links {
        padding: 1em;
    }
}

.soc-med-links {
    max-width: 64px;
    max-height: 64px;
}
